set timeout=1
set default=0

menuentry "Cubic System Software" {
    insmod all_video
    set gfxpayload=keep
    multiboot /boot/quartz.elf
    module /system/compiled/bitmap/face@2x.bmp /system/compiled/bitmap/face@2x.bmp
    module /system/compiled/bitmap/floppy.bmp /system/compiled/bitmap/floppy.bmp
    module /system/compiled/bitmap/floppy@2.bmp /system/compiled/bitmap/floppy@2.bmp
    boot
}
